@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

body {
    background: white;
}

.leftArrow {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 30px;
    top: 51px;
}

.homeButton {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 30px;
    top: 51px;
}
.Title {
    color: grey;
    font-size: 150%;
    margin-top: 50px;
}

.file-container {
    position: absolute;
    top: 15%;
    display: grid;
    gap: 2%;
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-file-button {
    width: 100px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    background-size: 40px 40px;
    color: #5D78F7;
    border: 2px dashed rgba(93, 120, 247, 0.7);
    box-shadow: none;
    filter: none;
    background-image: url('../../assets/camera.png');
    background-repeat: no-repeat;
    background-position: 27px 10px;
    padding-top: 52px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 0px;
}
    
.add-pill-button:hover {
    outline: auto;
}