.file-container {
    position: absolute;
    top: 15%;
    display: grid;
    gap: 2%;
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}

.title {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    width: 100px;
    height: 100px;
    background-size: 40px 40px;
    border-radius: 25px;
    border: 2px dashed rgba(93, 120, 247, 0.7);
    background-repeat: no-repeat;
    background-position: center;
}

.addButton.upload {
    background-image: url(../../assets/upload.png);
}

.addButton.plus {
    background-image: url(../../assets/plus.png);
}
    
.add-pill-button:hover {
    outline: auto;
}