.main {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.account {
    height: 50px;
    background-color: #FDFDFD;
    margin-top: 8%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.accountImg {
    width: 40px;
    height: 40px;
}

.nameBox {
    height: 50px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.nav {
    position: fixed;
    top: 12%;
    width: 90%;
    height: 5%;
    margin: 20px;
    margin-left: 5%;
    background: white;
    display: flex;
}

.nav input[type=text] {
    width: 85%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    font-size: 17px;
    border: none;
    background-color: #fff;
}

.submitButton{
    width: 50px !important;
    height: 100% !important;
    background-color: white !important;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

.searcIcon {
    width: 25px;
    height: 25px;
    opacity: 50%;
}


.name2 {
    color: #000000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.help {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.searchBarDiv {
    margin-top: 7%;
    margin-left: 7%;
}

.searchBar {
    outline: none;
    width: 90%;
    height: 2.5rem;
    padding: 0.5rem;
    border: 2px solid rgba(93, 120, 247, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    font-style: normal;
    font-size: 1rem;
    color: #000000;
    opacity: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 7%;
    outline: none;
    width: 85%;
    height: 25%;
    border: 2px solid rgba(93, 120, 247, 0.15);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    font-style: normal;
    font-size: 25px;
    color: #000000;
    opacity: 100%;
    color: #5D78F7;
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttonContainer {
    width: 85%;
    height: 15%;
    margin-top: 8%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 90px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: linear-gradient(110.43deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.buttonText {
    color: #FFFFFF;
    font-size: 12px;
}

.text {
    margin-top: 8%;
    margin-left: 7%;
    color: #000000;
    opacity: 70%;
    font-size: 1.1rem;
}

.scroll {
    max-height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll .card {
    min-width: 280px;
    height: 150px;
    margin-right: 15px;
    color: white;
    background: linear-gradient(110.43deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 100%);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.scroll .card p{
    color: white I !important;
}

.checked {
    color: orange;
  }