@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75%;
}

.baseInput {
    outline: none;
    width: 276px;
    height: 40px;
    padding: 15px;
    border: 2px solid rgba(93, 120, 247, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.baseButton {
    width: 276px;
    height: 40px;
    background: linear-gradient(96.4deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 94.02%);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    border: none;
    color: #FFFFFF;
    margin: 10px;
}

.baseButton:focus {
    outline: auto;
}

input {
    outline: none;
    width: 276px;
    height: 2.5rem;
    padding: 0.5rem;
    border: 2px solid rgba(93, 120, 247, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    font-style: normal;
    font-size: 1.3rem;
    color: #000000;
    margin-top: 2%;
}

.container {
    position: relative;
    width: 100%;
    height: 50%;
    background: linear-gradient(110.43deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 30px;
    top: 51px;

}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
}

.accountCard {
    width: 80%;
    height: 65%;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mainText {
    width: 155px;
    height: 26px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.55);
}

.info {
   position: fixed;
   height: 50%;
}

.profileCircle {
    width: 115px;
    height: 115px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileImgDiv {
    width: 107px;
    height: 107px;
    position: relative;
    top: 4%;
    left: 4%;
    right: 4%;
}

.profileImg {
    width: 107px;
    height: 107px;
}

.name {
    width: 139px;
    height: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 58px;

    color: #FFFFFF;
}

.logoContainer img {
    width: 70%;
}

.AuthLabel {
    width: calc(100% - 10px);
    max-width: 313px;
    margin-left: 20px;
    margin-block: 5px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.AuthContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

p, a {
    font-weight: bold;
}

h1, p, a {
    margin-block: 0px;    
    color: #5D78F7;
}

.swapAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topNav {
    position: absolute;
    width: 80%;
    height: 40px;
    left: 10%;
    top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftArrow {
    width: 31px;
    height: 31px;
}
.patientName {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 58px;
    color: #FFFFFF;
    margin-right: 37%;
}

.data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3%;
}

.about {
    margin-top: 15%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

