@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

body {
    background: white;
}

.leftArrow, .homeButton {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
}

.Title {
    color: grey;
    font-size: 150%;
}

.file-container {
    position: absolute;
    top: 15%;
    display: grid;
    gap: 2%;
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}

.add-file-button {
    width: 100px;
    height: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    border: none;
    background-color: #FFFFFF;
    margin: 10px;
    border: 2px dashed rgba(93, 120, 247, 0.7);
    color: #5D78F7;
    border-radius: 25px;
    
}
    
.add-pill-button:hover {
    outline: auto;
}