@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* height: 100vh; */
    overflow: auto;
    /* temporar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.topNavContainer {
    position: absolute;
    width: 80%;
    height: 40px;
    left: 10%;
    top: 10px;
    top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNavContainer img {
    aspect-ratio: 1;
    width: 25px;
}

select,
input {
    width: 100%;
    outline: none;
    width: calc(100% - 10px);
    max-width: 313px;
    height: 3rem;
    padding: 15px;
    border: 2px solid rgba(93, 120, 247, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

button {
    width: 173px;
    min-height: 2em;
    margin-bottom: 15px;
    background: linear-gradient(96.4deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 94.02%);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    font-size: 25px;
    border: none;
    color: #FFFFFF;
}

button:focus {
    outline: auto;
}

.logoContainer {
    width: 100%;
    min-height: 200px;
    background: linear-gradient(110.43deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 90px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBackground {
    width: 100%;
    height: 45vh;
    background: linear-gradient(110.43deg, #5D78F7 0%, rgba(93, 120, 247, 0.45) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city {
    outline: none;
    width: 70%;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid rgba(93, 120, 247, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-color: #FDFDFD;
    font-style: normal;
    font-size: 1rem;
    color: #000000;
    opacity: 60%;
}

.logoContainer img {
    width: 70%;
}

.mainDiv {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 15px;
}

.AuthLabel {
    width: calc(100% - 10px);
    max-width: 313px;
    margin-left: 20px;
    margin-block: 5px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.AuthContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

p,
a {
    font-weight: bold;
}

h1,
p,
a {
    margin-block: 0px;
    color: #5D78F7;
}

.swapAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docOrPatientButton {
    width: 280px;
    height: 59px;
}

.loadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out;
}

.loadingContainer .loadingDiv {
    width: calc(100% - 10px);
    aspect-ratio: 16 / 9;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingContainer .loadingDiv img {
    height: 100%;
}

.bottomNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    margin-bottom: 7px;
    background: white;
    border-top: solid 1px rgb(194, 194, 194);
}

.bottomNav button {
    min-height: 100%;
    height: 100%;
    box-shadow: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0;
    border-radius: 0;
    filter: none;
}

.home {
    background-image: url(../assets/bottomNav/home.png);
}

.home.active {
    background-image: url(../assets/bottomNav/home-filled.png);
}

.chat {
    background-image: url(../assets/bottomNav/chat.png);
}

.chat.active {
    background-image: url(../assets/bottomNav/chat-filled.png);
}

.search {
    background-image: url(../assets/bottomNav/search.png);
}

.search.active {
    background-image: url(../assets/bottomNav/search-filled.png);
}

.calendarul {
    background-image: url(../assets/bottomNav/calendar.png);
}

.calendarul.active {
    background-image: url(../assets/bottomNav/calendar-filled.png);
}

.profile {
    background-image: url(../assets/bottomNav/profile.png);
}

.profile.active {
    background-image: url(../assets/bottomNav/profile-filled.png);
}