@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto';
}

body {
    background: white;
}

.nav {
    position: fixed;
    top: 10%;
    width: 90%;
    height: 5%;
    margin: 20px;
    margin-left: 5%;
    background: white;
    display: flex;
}

.nav input[type=text] {
    width: 85%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    font-size: 17px;
    border: none;
    background-color: #fff;
}

.submitButton {
    width: 50px !important;
    height: 100% !important;
    background-color: none !important;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

.searcIcon {
    width: 25px;
    height: 25px;
    opacity: 50%;
}

.patientsList {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
}

.patient-button {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    filter: none;
    background: white;
}

.patient-details {
    width: 60%;
    height: 100%;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.account-image {
    margin-left: 5%;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
}

.name {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50px;
    flex: 1;    
}

.add-patient {
    position: fixed;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    right: 5%;
    bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDFDFD;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.plus {
    aspect-ratio: 1;
    width: 70%;
    height: 70%;
}

.baseSearchFilters {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}

.baseSearchFilters > span {
    font-weight: 400;
    font-size: 20px;
}

.baseSearchFilters > select {
    background: white;
    flex-grow: 1;
    outline: none;
    width: 50%;
    height: 50px;
    max-width: unset;
    padding: 35px;
    text-align: center;
    border: none;
    filter: none;
    /* border-radius: 0; */
    padding: 0px;
    font-size: 20px;
    border: 2px solid rgba(93, 120, 247, 0.15);
}